//これはVoicelogのcommon！//

@charset "UTF-8";

html{
    overflow-x:hidden;
}

body{
    text-align: center;
    font-family: "MS PGothic", Sans-Serif ;
    background:#122;
    color: #fff;
    opacity: 0.6;
    background-image: url("img1.jpg"); /* 画像 */
   background-size: cover;               /* 全画面 */
   background-attachment: fixed;         /* 固定 */
   background-position: center center;   /* 縦横中央 */
}

iframe {
    width: 80%;
    height: auto;
    opacity: 1;
}

h1{
    letter-spacing: 1px;
    font-size: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 1;
    margin-left: 50px;
    margin-right: 50px;
}

h2{
    letter-spacing: 1px;
    font-size: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 900;
    margin-left: 150px;
    margin-right: 150px;
}

p{
    line-height:  200%;
    padding-top:   7px;
    padding-bottom:  7px;
    margin-left: 150px;
    margin-right: 150px;
    
}


p,dt,dd,address{
    letter-spacing: 3px;
}


//ナビゲーションメニューの部分//

#nav li a:hover,#f_nav li a:hover{
    color: #fff;
}

#nav li a,#f_nav li a{
    color: #fff;
    letter-spacing: 1px;
     font-size:110% ;
         background:#333;
}

#nav li,#f_nav li{
    display: inline;
    padding: 10px 10px;
}

dl{
    padding-top:20px;
    padding-bottom: 20px;
}

dt,dd{
    padding-top: 15px;
    padding-bottom: 15px;
}

br{
    padding-top:10px;
    padding-bottom: 10px;
}

#wrapper{
    display: block;
    width:100%;
    height: auto;
    margin:0 auto;
}



#menu{
    width:100%;
    z-index: 100000;
    top:0;
    left:0;
    position:fixed;
    padding: 10px 0px;
    letter-spacing: 10px;
    text-align: right;
}
//239//

#nav li{
    font-size:100% ;
    letter-spacing: 10px;
}

.title_e{
    font-size: 200%;
    padding: 10px 0px;
    letter-spacing: 1px;
}

.subt_e{
    font-size: 110%;
    padding: 0px 0px;
    letter-spacing: 1px;
}

.description_e{
    letter-spacing: 0px;
    }

.description_e2{
    text-align: left;
    letter-spacing: 0px;
    margin-left: 50px;
    margin-right: 50px;
    }

//作品説明文//

.copy{
    font-size: 50%;
}

.date{
    font-size: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
}

dd{
    font-size: 150%;
}

#news{
    clear:both;
}

#f_nav{
    font-size: 100%;
    padding-bottom: 25px;
    padding-top: 50px;
}

#about p,#contact p{
    font-size: 150%;
}
