@charset "UTF-8";
@import url("destyle.css");

html {
    color: #fff;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #000; /* 背景色 */
    background-image: url(img/ecomimesis_home_black.jpg); /* 画像 */
    background-size: cover; /* 全画面 */
    background-attachment: fixed; /* 固定 */
    background-position: center center; /* 縦横中央 */
}


.switch {
    text-align:right;
    font-size:2vmax;
    position: absolute;
    top: 1%;
    right: 0px;
    margin:1%;
    padding:2%;
}


.link{

    position: relative;
    display: inline-block;
    text-decoration: none;

}
.link::after {
    position: absolute;
    bottom: 2px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #00ff00;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }

.link:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }

.text{
    padding-top:0;
    padding-right:7em;
    padding-left:7em;
    font-size: 1.5vmax;
}

.sum_prof{
    font-family: 'Shippori Mincho B1', serif;
    letter-spacing: 0.05em;
    line-height:1.5em;
}

.cre{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2vmax;
    line-height:1.5em;
    text-align: center;
}

.copy {
    font-family:'Times New Roman', 'Times';
    color: #a1a1a1;
    font-size: 1.0vmax;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    padding-bottom:10px;
}
