@charset "UTF-8";
@import url("destyle.css");

html {
    color: #fff;
}
body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #000; /* 背景色 */
    background-image: url(img/ecomimesis_home_black.jpg); /* 画像 */
    background-size: cover; /* 全画面 */
    background-attachment: fixed; /* 固定 */
    background-position: center center; /* 縦横中央 */
}
.parent{
    /* background-color: #ccc; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child{
    width:100vw;
}
.child1{
    /* background-color: red; */
    position:relative;
	height:15vh;
}
.child2{
    /* background-color: blue; */
    width:50vw;
    height:13vh;
    margin-top: 10vh;
    top:5%;
    font-family: 'Shippori Mincho B1', serif;
    font-size: 1.5vmax;
    text-align:center; 
    line-height: 1.8em;
}
.child3{
    /* background-color: green; */
    /* height:4vh; */
    font-size:1.8vmax;
    text-align:center; 
    margin-top: 5vh;
}
.child4{
    /* background-color: purple; */
    width:45vw;
    /* height:17vh; */
    margin-top: 2vh;
    text-align:center;
}
.child5{
    /* background-color: green; */
    width:45vw;
    /* height:17vh; */
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;  
    font-size: 1.1vmax;
    letter-spacing:0.15em;
    text-align:center;
    line-height: 1.8em;
}
.grandchild1-1{
    position:absolute;

    min-width: 30vmax;
    width: 30vmax;
    margin:1%;
    padding:2%;
}
.grandchild1-2{
    text-align:right;
    font-size:2vmax;
    position: fixed;
    z-index: 1;
    top: 1%;
    right: 0px;
    padding: 1%;
    margin: 2%;
}
.btn{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;  
    font-size: 4.5vw;
    letter-spacing:0.1em;
    border: 1.25px solid #ffffff;
    padding: 3vw 2vw;
}
.btnEf :hover{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    transform: scale(1.02, 1.02);
    color: #00ff00;
    border-color:#00ff00;
}
.moreInfo{
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.moreInfo::after {
    position: absolute;
    bottom: 6px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #00ff00;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
}
.moreInfo:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}
.copy {
    font-family:'Times New Roman', 'Times';
    color: #a1a1a1; 
    font-size: 1.0vmax;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); /* 要素の大きさの半分の距離を左、上方向に移動する */
    -webkit-transform: translateY(-50%) translateX(-50%);
}
